@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://media3.giphy.com/media/xUPJPIvpdAVrpUXLqM/giphy.gif?cid=6c09b952tnee23ooodrtqqlm59rugxd99kpbpavjgsimjr7g&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g");
  
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
  background-size: cover;
  background-repeat: no-repeat;
}
  

h1{
  font-size: 30px;
  color: white;
}

h2{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



